# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
venv/
env/

# Ignore Streamlit files
.streamlit/

# Ignore large image files
*.jpg
*.png

# Ignore system files
.DS_Store
Thumbs.db
